@model DACNHM.Models.DotToChuc

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>DotToChuc</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.DotHien)

<div class="form-group">
    <b>Địa điểm tổ chức</b>
    @*@Html.LabelFor(model => model.MaDiaDiem, htmlAttributes: new { @class = "control-label col-md-2" })*@
<div class="col-md-10">
    @Html.DropDownList("MaDiaDiem")
    @*@Html.EditorFor(model => model.MaDiaDiem, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MaDiaDiem, "", new { @class = "text-danger" })*@
</div>
</div>

<div class="form-group">
    <b>Đơn vị quản lý </b>
    @*@Html.LabelFor(model => model.MaDonViQL, htmlAttributes: new { @class = "control-label col-md-2" })*@
<div class="col-md-10">
    @Html.DropDownList("MaDonViQL")
    @*@Html.EditorFor(model => model.MaDonViQL, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.MaDonViQL, "", new { @class = "text-danger" })*@
</div>
</div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ca, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ca, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ca, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b>Ngày tổ chức </b>
        @*@Html.LabelFor(model => model.NgayToChuc, htmlAttributes: new { @class = "control-label col-md-2" })*@
    <div class="col-md-10">
      
        @Html.EditorFor(model => model.NgayToChuc, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.NgayToChuc, "", new { @class = "text-danger" })
    </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" style="background-color: #0026ff; border-radius: 15px" />
            <a href="@Url.Action("Index","QLDotHien")" style="background-color: #dc3545; border-radius: 15px" class="btn btn-default">Quay trở lại</a>

        </div>
    </div>
</div>
}

