@model DACNHM.Models.PhieuTinhTrangSucKhoe

@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới </h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <b>Ngày khám:</b>
        @*@Html.LabelFor(model => model.NgayKham, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
           
            @Html.EditorFor(model => model.NgayKham, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NgayKham, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b>Họ Tên:</b>
        @*@Html.LabelFor(model => model.MaNgHien, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.EditorFor(model => model.NguoiHienMau.TenNgHien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NguoiHienMau.TenNgHien, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b>Tình Trạng Sức Khỏe:</b>
        @*@Html.LabelFor(model => model.MaTTSK, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
            @Html.DropDownList("MaTTSK")
            @*@Html.EditorFor(model => model.MaTTSK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MaTTSK, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index","TTSK")" style="background-color: #dc3545; border-radius: 15px" class="btn btn-default">Quay trở lại</a>
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

