@model DACNHM.Models.PhieuDKHienMau

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin chi tiết </h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
            <b> Ngày đăng ký hiến máu:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.NgayDKHienMau)
        </dd>

       

        <dd>
            <b> Số lượng máu đăng ký hiến:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.SoLuongMauDKHien)
        </dd>

       

        <dd>
            <b> Họ tên:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.NguoiHienMau.TenNgHien)
        </dd>

       

        <dd>
            <b> Nơi tổ chức:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            @Html.DisplayFor(model => model.DotToChuc.DiaDiemHienMau.TenDiaDiem)
        </dd>

    </dl>
</div>
<p>
    &emsp; &emsp; &emsp; <a href="@Url.Action("Edit","QLDatLich", new {id = Model.MaPhieuDKHienMau })" style="background-color:#00266f; border-radius:15px" class="btn btn-default">Edit</a>&nbsp; &nbsp; &nbsp; &nbsp;

    <a href="@Url.Action("Index","QLDatLich")" style="background-color: #dc3545; border-radius: 15px" class="btn btn-default">Quay trở lại</a>
</p>
